  <h1>top#index</h1>
  <ul>
    <li>
      <%= link_to '動画一覧', '#' %>
    </li>
    <li>
      <%= link_to '教える内容', '#' %>
    </li>
    <li>
      <%= link_to '行ける所', countries_path %>
    </li>
  </ul>