html {
  --header-height: 140px;
  --context-menu-width: 200px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  background: #097ab9;
  color: white;
}

.header .home-menu ul li {
  float: left;
  padding: 1em;
}

.footer {
  height: 100px;
  background: #333;
  color: white;
}

.main-container {
  position: absolute;
  top: var(--header-height);
  right: 0;
  width: calc(100% - var(--context-menu-width));
  background: #eee;
}

.main-container .main {
  box-sizing: border-box;
  min-height: 100vh;
  padding: 1rem;
}

.main-container .context-menu {
  position: fixed;
  top: var(--header-height);
  left: 0;
  width: var(--context-menu-width);
  min-height: calc(100vh - var(--header-height));
  background: #00c0e2;
  color: white;
}
