<h1>
  <%= @abroad_univ.name %>
</h1>
<img src="https://i0.wp.com/wondertrip.jp/img/20160802/iStock_58925298_MEDIUM.jpg?w=730" style="width: 100%;">
<p>皆の声</p>
<ul>
  <% @abroad_univ.reports.each do |repo| %>
    <li>
      <%= link_to report_path(repo) do %>
        <%= repo.name %>
      <% end %>
    </li>
  <% end %>
</ul>

