<h1>留学先の国一覧ページ</h1>
<ul>
  <% @regions.each do |region| %>
    <li>
      <%= region.name %>
      <ul>
        <% region.countries.each do |country| %>
          <li>
            <%= link_to country.name, country_path(country) %>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
