<h1>
  <%= @report.name %>の声
</h1>
<p>
  この大学はとてもいい最高だ非常にいい。この大学はとてもいい最高だ非常にいい。この大学はとてもいい最高だ非常にいい。この大学はとてもいい最高だ非常にいい。この大学はとてもいい最高だ非常にいい。この大学はとてもいい最高だ非常にいい。この大学はとてもいい最高だ非常にいい。この大学はとてもいい最高だ非常にいい。この大学はとてもいい最高だ非常にいい。
</p>
